body{
    overflow-x: hidden;
    background-color: #fafafa;
}

.dino{
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 0;
    background-image: url('../imgs/dino.png');
}

.cactus{
    width: 30px;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-image: url('../imgs/cactus.png');
}

@keyframes sliderRight{
    from{
        background-position: 10000%;
    }
    to{
        background-position: 0;
    }
}

.back_ground{
    position: absolute;
    bottom: 0;
    height: 200px;
    background-repeat: repeat-x; 
    background-image: url('../imgs/background.png');
    animation: sliderRight 700s infinite linear;
    width: 100%;
}

.game_over{
    text-align: center;
}

p{
    text-align: center;
}
